*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body{
  height:100%;
  width:100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  
}

body::-webkit-scrollbar {
    display: none;
}

body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}